main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-turn-container {
    text-align: center;
    visibility: hidden;

    margin-bottom: 16px;

    color: rgb(226, 5, 226);
}
.my-turn-container p {
    font-size: 40px;
    font-weight: 800;
}

.my-turn-container.visible {
    visibility: visible;
}

.wrapper-board .row {
    display: flex;
}

.wrapper-board .square {
    background-color:#F7FE2E;

	width: 150px;
	height: 150px;
    margin: 4px;

	font-size: 92px;
    color: #3d4550;

    border-radius: 25px;
    border: none;

    cursor: pointer;

    transition: all .2s;
}

.wrapper-board .square:hover{
    background-color:#c2c724;
}

#game-results {
    width: 100%;
}

#game-results .result-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 16px 0;
}

#game-results .result-container h2{
    font-weight: bold;

    text-align: center;

    margin-bottom: 16px;
}

#game-results .result-container h2.victory {
    color: chartreuse;
}

#game-results .result-container h2.defeat {
    color: crimson;
}

#game-results .result-container .back-button {
    border: none;
    padding: 8px 16px;

    background-color: rgb(226, 5, 226);
    color: white;

    border-radius: 8px;

    transition: all .2s;
}

#game-results .result-container .back-button:hover {
    background-color: rgb(187, 5, 187);
}
