main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-turn-container {
    text-align: center;
    visibility: hidden;

    margin-bottom: 16px;

    color: rgb(226, 5, 226);
}
.my-turn-container p {
    font-size: 40px;
    font-weight: 800;
}

.my-turn-container.visible {
    visibility: visible;
}

.wrapper-board .row {
    display: flex;
}

.wrapper-board .square {
    background-color:#F7FE2E;

	width: 150px;
	height: 150px;
    margin: 4px;

	font-size: 92px;
    color: #3d4550;

    border-radius: 25px;
    border: none;

    cursor: pointer;
}


