.wrapper-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


 .wrapper-content .wrapper-board {
    display: inline-block;
    padding-left: 280px;
    padding-top: 90px;

 }

.wrapper-btn {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

}

.btn-game {
  max-height: 100px;
  max-width: 200px;

  background: #2c343e;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;

  font-size: 16px;
  font-weight: 700;

  margin: 13px auto;
  padding: 11px 30px;

  outline: none;
  text-transform: uppercase;
  display: flex;
  align-self: baseline;

}
.btn-game:hover {
  background: #363f4a;
}
a {
  color: #00B7FF;
}
