.btn-game {
  max-height: 100px;
  max-width: 200px;

  background: #2c343e;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;

  font-size: 16px;
  font-weight: 700;

  margin: 13px auto;
  padding: 11px 30px;

  outline: none;
  text-transform: uppercase;
  display: flex;
  align-self: baseline;

}
.btn-game:hover {
  background: #363f4a;
}

a {
  color: #00B7FF;
}
